body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    48deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(17, 10, 102, 0.9822303921568627) 58%
  );
}

span {
  color: rgb(30, 21, 190);
  color: linear-gradient(
    48deg,
    rgba(30, 21, 190, 1) 0%,
    rgba(17, 10, 102, 0.9822303921568627) 58%
  );
}

p,
i {
  color: #d9d9d9;
}

img {
  opacity: 0.1;
}


@media (min-width: 768px) {
  .container-fluid {
    
    vh-80;
  }
  .h2 {
    font-size: 1.5rem; 
  }
}


@media (max-width: 768px) {
  .container {
    padding: 0 1rem;
  }
  .h2 {
    font-size: 1.2rem; 
  }
  
}


@media (max-width: 320px) {
  .container {
    width: 100%;
    padding: 1rem;
  }
  h1 {
    font-size: 1.2rem;
  }
  p {
    font-size: 1rem;
  }
  .btn-group {
    flex-direction: column; 
  }
  .btn {
    width: 100%; 
  }
}